
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Gotham", sans-serif;
}
.nav-btn {
  background-color: #272727;
  padding: 18px 0px;
}
.nav-btn img {
  width: 20px;
  height: 20px;
  margin: 0px 10px;
}
.nav-btn a {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.03em;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* navabr */

.navbar .navbar-nav .nav-item .nav-link {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.03em;

  color: #272727 !important;
}
.navbar form img {
  width: 18px;
  height: 18px;
  margin: 0px 10px;
}
.navbar form .btn {
  color: #ffffff;
  background-color: #f1652a;
  border: 1px solid #f1652a;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.03em;
}
.navbar form .btn-outline {
  color: #f1652a;
  background-color: transparent;
  border: 1px solid #f1652a;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.03em;
  margin: 0px 15px;
}
/* navabr */
/* home-header */
.home-header {
  background-color: #f3f3f3;
}
.home-header .col-lg-7 {
  padding-right: 49px;
}
.home-header h1 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  letter-spacing: 0.05em;
  color: #272722;
}
.home-header p {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  text-align: justify;
  letter-spacing: 0.03em;
  color: #626262;
  margin: 18px 0px;
}
.home-header button {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: #f1652a;
  width: 40%;
  margin-top: 30px;
}
/* home-header */
/* programs */
.programs {
  position: relative;
  top: -30px;
  width: 90%;
  /* margin-top: -70px; */
  margin-bottom: 0%;
  margin-left: auto;
  margin-right: auto;
  border-top: 16px solid #ae1c28;
  border-bottom: 16px solid #21468b;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: #ffffff;
}
.programs p {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.03em;
  margin: 0;
  color: #272727;
}

.programs .row {
  padding: 30px 0px;
}
